[Unit]
Description=OAuth Service
After=network.target

[Service]
User=procesor
Group=procesor
WorkingDirectory=/home/procesor/oauth_service
Environment="PATH=/home/procesor/oauth_service/venv/bin"
Environment="PYTHONPATH=/home/procesor/oauth_service"
ExecStart=/home/procesor/oauth_service/venv/bin/python -m oauth_service.main
Restart=always
RestartSec=5

# Security options
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target